{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Hackathon PUCMM-Emprende 2018</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/equipos-evaluar">Evaluar equipos</a></li>
                    <li class="active"><a href="/resultados">Resultados</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.get_username | capfirst }}
                    </a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h2 class="text-center">Puntuacion Detallada - {{ object.nombre }}</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td bgcolor="#d3d3d3" class="text-center" colspan="2"><b>Criterios No Técnicos</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center"><b>Criterio</b></td>
            <td class="text-center"><b>Puntos</b></td>
        </tr>
        {% for criterio, puntos in criterios_no_tecnicos.items %}
            <tr>
                <td class="text-center">{{ criterio }}</td>
                <td class="text-center">{{ puntos }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="text-center"><b>Total</b></td>
            <td class="text-center"><b>{{ total_puntos_no_tecnicos }}</b></td>
        </tr>
        <tr>
            <td class="text-center" bgcolor="#d3d3d3" colspan="2"><b>Criterios Técnicos</b></td>
        </tr>
        <tr>
            <td class="text-center"><b>Criterio</b></td>
            <td class="text-center"><b>Puntos</b></td>
        </tr>
        {% for criterio, puntos in criterios_tecnicos.items %}
            <tr>
                <td class="text-center">{{ criterio }}</td>
                <td class="text-center">{{ puntos }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="text-center"><b>Total</b></td>
            <td class="text-center"><b>{{ total_puntos_tecnicos }}</b></td>
        </tr>
        <tr>

        <tr>
            <td bgcolor="#87ceeb" class="text-center"><b>TOTAL FINAL</b></td>
            <td bgcolor="#87ceeb" class="text-center"><b>{{ total_final  }}</b></td>
        </tr>
        </tbody>
    </table>
{% endblock %}