<html>
{# Load the tag library #}
{% load bootstrap3 %}
<header>
    <title>Equipos - Hackathon PUCMM-Emprende</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</header>


{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Hackathon PUCMM-Emprende</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/equipos-evaluar">Evaluar equipos</a></li>
                    <li><a href="/resultados">Resultados</a></li>
                    {% comment %}
                    <li><a href="/presentacion-equipos">Presentación de Proyectos</a></li>
{% endcomment %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.get_username | capfirst }}
                    </a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="list-group">
        <div style="margin-left: 50px; margin-right: 50px;">
            <h1>Lista de Equipos</h1>
            {% if object_list %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td width="10%" class="text-center"><b>Número</b></td>
                        <td class="text-center"><b>Nombre</b></td>
                        <td class="text-center"><b>Evaluar</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in object_list %}
                        <tr>
                            <td class="text-center" width="10%">{{ e.pk }}</td>
                            <td>{{ e.nombre }}</td>
                            <td class="text-center" width="10%"><a class="btn btn-primary" href="equipo/{{ e.id }}">Evaluar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2 class="text-center">TODOS LOS EQUIPOS EVALUADOS</h2>
            {% endif %}
        </div>
        {% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/equipos-evaluar?page={{ page_obj.previous_page_number }}">Anterior </a>
                {% endif %}
                <span class="page-current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/equipos-evaluar?page={{ page_obj.next_page_number }}"> Siguiente</a>
                {% endif %}
            </span>
            </div>
        {% endif %}
    </div>
{% endblock %}

</html>