<html>
{# Load the tag library #}
{% load bootstrap3 %}

<header>
    <title>Evaluacion - Equipo {{ object.nombre }} - Hackathon PUCMM Emprende 2018</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</header>

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Hackathon PUCMM-Emprende</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/equipos-evaluar">Evaluar equipos</a></li>
                    <li><a href="/resultados">Resultados</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.get_username | capfirst }}
                    </a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="list-group">
        <h1>Equipo {{ object.nombre }}</h1>
        <form action="/equipos-evaluar/equipo/{{ object.id }}" method="post">
            {% csrf_token %}
            <input type="number" value="{{ object.id }}" name="equipo" hidden>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center" rowspan="2" width="15%">Criterio</th>
                    <th class="text-center" colspan="5">Rubrica</th>
                    <th class="text-center" rowspan="2" width="10%">Puntos</th>
                </tr>
                <tr>
                    <th class="text-center">1</th>
                    <th class="text-center">2</th>
                    <th class="text-center">3</th>
                    <th class="text-center">4</th>
                    <th class="text-center">5</th>
                </tr>
                </thead>

                <tbody>
                {% for c in criterios %}
                    <tr>
                        <td rowspan="1" class="text-center"><h3>{{ c.nombre }}</h3></td>
                        <td class="text-center">{{ c.explicacion1 }}</td>
                        <td class="text-center">{{ c.explicacion2 }}</td>
                        <td class="text-center">{{ c.explicacion3 }}</td>
                        <td class="text-center">{{ c.explicacion4 }}</td>
                        <td class="text-center">{{ c.explicacion5 }}</td>
                        <td class="text-center">
                            <fieldset id="group1">
                                <label>1
                                    <input type="radio" value="1" name="group-{{ c.id }}">
                                </label>
                                <label>2
                                    <input type="radio" value="2" name="group-{{ c.id }}">
                                </label>
                                <label>3
                                    <input type="radio" value="3" name="group-{{ c.id }}">
                                </label>
                                <label>4
                                    <input type="radio" value="4" name="group-{{ c.id }}">
                                </label>
                                <label>5
                                    <input type="radio" value="5" name="group-{{ c.id }}">
                                </label>
                            </fieldset>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input value="Enviar Puntuación" type="submit" class="btn btn-primary form-control">
        </form>
    </div>
{% endblock %}

</html>